$backgroundColor: rgba(0, 16, 17, 1); // rgba for safari rendering? 
$bodyColor: #ffffff;
$accentColor: #08e400;
$bodyFont: 'Work Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$headerFont: 'Redaction 20', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$navFont: 'Redaction 50 Bold', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$zhFont: 'HZK Pixel 16px', "GB18030 Bitmap", -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,  
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;

.mobile {
  display: none;
}

html {
  background-color: $backgroundColor;
}

.spaced {
  background-color: $backgroundColor;
  width: 100%;
  height: 3.5vh;
}

.boxed {
  display:none; 
}

body {
  overflow: -moz-scrollbars-horizontal;
  overflow-y: hidden;
  overflow-x: hidden;
}
// .scrolling-wrapper{
// 	overflow-x: scroll;
//   // overflow-y: hidden;
//   white-space: nowrap;
//   width: 100%;
//   height: fit-content;
// }
// .card {
//   display: inline-block;
//   width: 80%;
//   height: 80vh;
// }
a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

$spacer: 1rem;
.pt-6 { padding-top: $spacer * 6.5 !important; }
.pt-7 { padding-top: $spacer * 7 !important; }
.pt-8 { padding-top: $spacer * 8 !important; }
.ms-6 { margin-left: $spacer * 3.9 !important; }
.ps-6 { padding-top: $spacer * 3.9 !important; }
.me-4_5 { margin-right: $spacer * 2.5 !important; }

// @import "../node_modules/bootstrap/scss/bootstrap";
// Font Import
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Ark Pixel 10px';
  src: url('../fonts/ark-pixel-10px-proportional-zh_cn.woff2') format('woff2');
}
@font-face {
  font-family: 'Ark Pixel 12px';
  src: url('../fonts/ark-pixel-12px-proportional-zh_cn.woff2') format('woff2');
}
@font-face {
  font-family: 'Ark Pixel 16px';
  src: url('../fonts/ark-pixel-16px-proportional-latin.woff2') format('woff2');
}
@font-face {
  font-family: 'HZK Pixel 16px';
  src: url('../fonts/hzk-pixel-16px.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 20';
  src: url('../fonts/Redaction_20-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 35';
  src: url('../fonts/Redaction_35-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 35 Bold';
  src: url('../fonts/Redaction_35-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 50';
  src: url('../fonts/Redaction_50-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 50 Bold';
  src: url('../fonts/Redaction_50-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 70';
  src: url('../fonts/Redaction_70-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Mondwest';
  src: url('../fonts/ppmondwest-regular-webfont.woff2') format('woff2');
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.container {
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 2;
  // background-color: rgba(0, 255, 255, 0.44);
}

.home-container {
  background: $backgroundColor;
  // border: 1.5px solid $bodyColor;
  z-index: 2;
  // height: 80vh;
  width: 100%;
  // height: 100rem; 
}

.home {
  width: 95%;
  background: $backgroundColor;
  border: 1.5px solid $bodyColor;
  height: 90vh;
}

@media (max-width: 928px) {
  .home {
    width: 100%;
  }
}

.col {
  // background-color: #bb33339d !important;
  // border: 1px solid rgb(19, 226, 205);
}

.navbar {
  background-color: $backgroundColor !important;
  // background-color: #bb33339d !important;
  font-family: $navFont;
  font-size: 2.5rem; 
  // z-index: 1;
  // height: 4.5rem;
}

.navbar-brand {
  margin-top: 3.5vh;
  font-family: 'Ark Pixel 10px', $zhFont;
  font-size: 2.8rem;
  color: $bodyColor;
  transition: 0.1s ease-in-out;
}

.navbar-brand:hover {
  color: #EB5E55;
  transform: perspective(90000px) rotateY(5deg);
}

.nav-item {
  font-family: $navFont;
  font-size: 2.4rem; 
  color: #ffffff86;
  margin-bottom: -0.6rem;
}
.active, .nav-item:hover {
  color: $bodyColor;
}

.nav-social-media {
  
}

.sm-icon {
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
  transition: 0.1s ease-in-out;
}

.sm-icon:hover {
  opacity: 1;
}

// bruh
// https://stackoverflow.com/questions/38948102/center-one-and-right-left-align-other-flexbox-element
.last-item {
  position:absolute;
  right: 8rem;
  // font-family: 'Redaction ', $zhFont;
  // letter-spacing: 0.1rem;
}

@media (max-width: 928px) {
  // .navbar-toggler {
  //   display: none;
  //   width: 0;
  //   height: 0;
  // }
  .nav-item {
    display: none;
    width: 0;
    height: 0;
  }
  // .navbar-brand {
  //   display: none;
  //   width: 0;
  //   height: 0;
  // }
  .home {
    border: none;
  }
  .boxed {
    display: block;
    background-color: #0017e4;
    height: 100%;
    width: 100%;
  }
  .margin-override {
    margin-left:  $spacer * 0;
    margin-right:  $spacer * 0;
    display:none;
  }
  .bar {
    display: none;
  }

  .body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .margin-override {
    display:none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.bruh {
  background-color: rgba(255, 0, 0, 0.6);
}

.arrow {
  color: #ffffff86;
  font-size: 3rem;
  font-family: 'Ark Pixel 16px', $zhFont;
  transition: 0.1s ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.arrow:hover {
  color: $bodyColor;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.intro {
  font-family: 'Redaction 20';
  font-size: 5*$spacer;
  margin: 0;
  padding: 0;
}

p .introduction {
  font-size: 1px;
}

// $xs: 0;
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1400px;

@media (max-width: $xl) {

  .home {
    width: 85%
  }
}

@media (max-width: $md) {

  .intro {
    font-size: 3*$spacer;
  }
}

.fuhao {
  cursor: url('../images/fuhao.png'), auto; 
}


