---
# Only the main Sass file needs front matter (the dashes are enough) oh I see
---

.site-footer.h-card {
    padding-bottom: 50px ; 
    margin-top: 100px ; 
}

.site-title:hover {
    text-decoration: none ; 
    text-shadow: 3px 2px 0px #123030 ; 
    cursor: url('/assets/hovercursor.png'), auto;
}


.element-class:hover {
    cursor: url('/assets/hovercursor.png'), auto;
    text-shadow: 3px 2px 0px #123030 ; 
}

.content-wrapper {
    display: flex;
    align-items: center;  // This vertically centers the text and image if they have different heights.
    flex-wrap: wrap ; 
}

// /* Mobile Styles */
// @media only screen and (max-width: 768px) {
//   .content-wrapper {
//     flex-direction: column;
//   }

//   .right-text {
//     padding: 16px 8px;
//   }
// }

.left-image {
    margin-right: 20px;  // This provides some space between the image and the text.
}

.right-text {
    flex: 1 ; // using flex
    overflow: hidden ;    // This ensures the text occupies the remaining space.
    padding: 200 40px ; 
    width: 100px ; 

}

::selection {
    background-color: #ea3538 ; 
    color: #000000 ; 
    //text-shadow: 3px 2px 0px #000000 ; 
    //color: ; 
}

//firefox compatibility 
::-moz-selection {
    background-color: #ea3538 ; 
    color: #000000 ; 
    //text-shadow: 3px 2px 0px #000000 ; 
    //color: ; 
}

:focus {
    outline: 2px solid #ea3538;
    text-shadow: 3px 2px 0px #123030 ; 

}

p a {
    color: #ffffff ; 
    text-decoration: underline ; 
}

//navbar 

/* Remove bullet points from navbar */
.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    display: flex; /* Makes list items sit in a row */


}

.site-nav li {
    margin-right: 40px; /* Adds spacing between navbar items */
    margin-top: 5px ; 
}

/* You may also want to style the navbar links */
.site-nav a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s; /* Smooth color transition on hover */
    font-size: 50px ;
}

.site-nav a:hover {
    color: #ffffff; /* Change this color to whatever you'd like for hover */
    text-shadow: 3px 2px 0px #123030 ; 
    text-decoration: none ; 
}

// /* If want to position the nav to the right of your site title */
// .wrapper {
//     display: flex;
//     justify-content: space-between; /* Separates site title and nav */
//     align-items: center; /* Vertically centers items */
// }

// fonts 

@font-face {
    font-family: "pp_mondwestregular";
    src: url("/assets/fonts/ppmondwest-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "pp_moriregular";
    src: url("/assets/fonts/ppmori-regular-webfont.woff2") format('woff2'),
}

@font-face {
    font-family: "pp_morisemibold";
    src: url("/assets/fonts/ppmori-semibold-webfont.woff2") format('woff2'),
}

// wasting a lot of space by including this backup mobile chinese character font bruh
@font-face {
    font-family: "hzk_pixel_16px" ; 
    src: url("/assets/fonts/hzk-pixel-16px.woff2") format('woff2'), 
}


@import "minima";


body {
	font-family: "pp_moriregular", sans-serif;
    cursor: url("/assets/cursor.png"), auto ; 
}

header {
    font-family: "pp_mondwestregular", "GB18030 Bitmap", "hzk_pixel_16px", serif; 

}

h1 {
    font-family: "pp_mondwestregular", serif ; 
    font-size: 40px ;  
    //text-shadow: 3px 2px 0px #123030 ; 
}

h2 {
    font-family: "pp_mondwestregular", serif ; 
    font-size: 29px ;  
    //text-shadow: 3px 2px 0px #123030 ; 
}

.bold-text {
    font-family: "pp_morisemibold", sans-serif;
    font-weight: bold;
}

.chinese-character {
  font-size: 56px; // Default size
  
  @media only screen and (max-width: 400px) {
    font-size: 40px;  // Size for small screens
    display: inline-block; ; 
  }
}