---
# Only the main Sass file needs front matter (the dashes are enough) oh I see
---

@font-face {
    font-family: "pp_mondwestregular";
    src: url("/assets/fonts/ppmondwest-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "pp_moriregular";
    src: url("/assets/fonts/ppmori-regular-webfont.woff2") format('woff2'),
}

@font-face {
    font-family: "pp_morisemibold";
    src: url("/assets/fonts/ppmori-semibold-webfont.woff2") format('woff2'),
}

// wasting a lot of space by including this backup mobile chinese character font bruh
@font-face {
    font-family: "hzk_pixel_16px" ; 
    src: url("/assets/fonts/hzk-pixel-16px.woff2") format('woff2'), 
}


@import "minima";


body {
	font-family: "pp_moriregular", sans-serif;
}

header {
    font-family: "pp_mondwestregular", "GB18030 Bitmap", "hzk_pixel_16px", serif; 

}

.bold-text {
  font-family: "pp_morisemibold", sans-serif;
  font-weight: bold;
}

.chinese-character {
    font-size: 56px ; 
}